Repository gabelul/github-actions-self-hosted-runner: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-script-dependencies, validate-docker-config, check-script-docs, validate-bats-tests

validate-script-dependencies:
  name: Validate script dependencies
  entry: ./scripts/validate-dependencies.sh
  language: script
  pass_filenames: true

validate-docker-config:
  name: Validate Docker configurations
  entry: ./scripts/validate-docker-config.sh
  language: script
  pass_filenames: true

check-script-docs:
  name: Check script documentation
  entry: ./scripts/check-script-documentation.sh
  language: script
  pass_filenames: true

validate-bats-tests:
  name: Validate BATS test syntax
  entry: bash -c 'for file in "$@"; do bats --count "$file" >/dev/null; done'
  language: system
  pass_filenames: true

fix: resolve token management bugs and add retry limits
  setup.sh
Due: validate-script-dependencies

fix: wizard continues after going back from runner management
  setup.sh
Due: validate-script-dependencies

fix: update GitHub API authentication to Bearer token format
  setup.sh
Due: validate-script-dependencies

fix: menu not redisplaying when returning from runner operations
  setup.sh
Due: validate-script-dependencies

fix: properly handle multi-repository runner setup
  setup.sh
Due: validate-script-dependencies

fix: wizard exits instead of creating new runner
  setup.sh
Due: validate-script-dependencies

debug: add trace output for multi-repo runner creation flow
  setup.sh
Due: validate-script-dependencies

fix: set -e causing script to exit on non-zero return codes
  setup.sh
Due: validate-script-dependencies

fix: skip token save prompt when token already saved
  setup.sh
Due: validate-script-dependencies

fix: prevent duplicate menu and quote docker-compose env vars
  setup.sh
Due: validate-script-dependencies

fix: use .env file for docker-compose to avoid YAML escaping issues
  setup.sh
Due: validate-script-dependencies

fix: redirect all log functions to stderr to prevent command substitution contamination
  setup.sh
Due: validate-script-dependencies

fix: prevent set -e exit on arithmetic operations starting from zero
  setup.sh
  test-suite.sh
Due: validate-script-dependencies

chore: remove temporary test-suite.sh from root directory
  test-suite.sh
Due: validate-script-dependencies

fix: resolve CI workflow failures - arithmetic bugs and Docker conflicts
  .github/workflows/code-quality.yml
  scripts/tests/test-token-management.sh
Due: validate-script-dependencies, check-script-docs

feat: add automated semantic versioning and release system
  .github/workflows/version-release.yml
  CLAUDE.md
  VERSION
  docs/commit-conventions.md
Due: none

chore: bump version to v2.3.0
  CHANGELOG.md
  VERSION
Due: none

feat: auto-install Homebrew on macOS when missing
  docs/troubleshooting.md
  scripts/install-runner.sh
Due: validate-script-dependencies, check-script-docs

chore: bump version to v2.4.0
  CHANGELOG.md
  VERSION
Due: none

feat: make the wizard actually nice to look at (finally)
  setup.sh
Due: validate-script-dependencies

fix: correct ANSI color code rendering in wizard prompts
  setup.sh
Due: validate-script-dependencies

fix: resolve critical issues before v2.3.0 release
  setup.sh
Due: validate-script-dependencies

docs: update CHANGELOG for v2.3.0 release
  CHANGELOG.md
Due: none

chore: bump version to v2.5.0
  CHANGELOG.md
  VERSION
Due: none

docs: update README for v2.4.0 with UI/UX overhaul highlights
  README.md
Due: none

docs: add comprehensive v2.4.0 release notes
  RELEASE_NOTES.md
Due: none

chore: bump version to v2.5.1
  CHANGELOG.md
  VERSION
Due: none

Path conditions:
  validate-script-dependencies: any of: \.sh$
  validate-docker-config: any of: (docker/|Dockerfile)
  check-script-docs: any of: scripts/.*\.sh$
  validate-bats-tests: any of: \.bats$
